INSIGHTS:
  # vpc devops insights
  ID: "0907381f-8ae8-48a0-9d05-ce0d0d46b75e"
CI:
  POLICY_NAME: "CI"
  DOCKER_IMAGE_NAME: "alvearie-starter-app"
  UMBRELLA_REPO_PATH: "https://github.com/festewart/alvearie-starter-app-umbrella"
  REGISTRY_NAMESPACE: "vpcwatkins-rns"
  NOUMBRELLAPUBLISH: "true"
  NOHELMCHART: "true"
CD: 
  POLICY_NAME: "CD"
  APP_NAME: "alvearie-starter-app"
  SERVICENOW_SERVICENAME: "wh-csp-core"
CT: 
  POLICY_NAME: "CT"
STAGECD:
  POLICY_NAME: "STAGECD"
STAGECVV:
  POLICY_NAME: "STAGECVV"
PRODCD:
  POLICY_NAME: "PRODCD"
PRODCGL:
  POLICY_NAME: "PRODCGL"
