INSIGHTS:
  # vpc devops insights
  ID: "0907381f-8ae8-48a0-9d05-ce0d0d46b75e"
ASOC:
  ASOC_APP_NAME: "alvearie-starter-app"
  KEY_ID: "bf26df5b-d5f1-da4a-6db1-21c555d4794f"
CI:
  POLICY_NAME: "CI"
  DOCKER_IMAGE_NAME: "alvearie-starter-app"
  UMBRELLA_REPO_PATH: "https://github.com/Alvearie/alvearie-starter-app-umbrella"
  REGISTRY_NAMESPACE: "vpcwatkins-rns"
  DISABLE_SCAN: "true"
  SONARQUBE_ENABLED: "false"
CD: 
  POLICY_NAME: "CD"
  APP_NAME: "alvearie-starter-app"
  SERVICENOW_SERVICENAME: "wh-csp-core"
CT: 
  POLICY_NAME: "CT"
STAGECD:
  POLICY_NAME: "STAGECD"
STAGECVV:
  POLICY_NAME: "STAGECVV"
PRODCD:
  POLICY_NAME: "PRODCD"
PRODCGL:
  POLICY_NAME: "PRODCGL"
